.quarto-light .responsive-stroke {
    stroke: #333 !important;
}
.quarto-dark .responsive-stroke {
    stroke: #999 !important;
}

.quarto-light .responsive-fill {
    fill: lightgray !important;
}
.quarto-dark .responsive-fill {
    fill: #666 !important;
}
.quarto-light .legacy-considered {
    fill: #c1121f !important;   
}
.quarto-dark .legacy-considered {
    fill: #ff4d4f !important;   
}
.quarto-light .legacy-not-considered {
    fill: #1864ab !important;   
}
.quarto-dark .legacy-not-considered {
    fill: #339af0 !important;   
}

table input {
    display: none;
}