@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

#quarto-header {
 border-bottom: 4px solid;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
}

img {
  max-width: 100%;
  height: auto;
}

.quarto-dark .bc-timestamp-link, .quarto-dark .bc-comment__stats {
  color: hsl(0, 0%, 80%);
}

.quarto-alternate-formats > h2 {
  display: none;
}
.quarto-alternate-formats:before {
  content: "Print version:"
}

.callout-note p {
  font-size: 1.25em;
}
